$breakpoints: (
  mobile-s: '349px',
  mobile-sm: '375px',
  mobile: '479px',
  mobile-l: '600px',
  tablet: '767px',
  tablet-m: '800px',
  laptop: '1023px',
  desktop: '1199px',
  desktop-l: '1439px',
) !default;