/* Mixins */
@mixin container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @include breakpoint(mobile) {
    padding: 0 20px;
  }
}

@mixin container-small {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @include breakpoint(mobile) {
    padding: 0 20px;
  }
}

@mixin container-form {
  max-width: 795px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @include breakpoint(tablet-m) {
    max-width: 768px;
  }

  @include breakpoint(mobile) {
    padding: 0 20px;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin text-hide {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

@mixin element-cover {
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  max-height: none;
}

@mixin element-100 {
  width: 100%;
  height: 100%;
}

@mixin element-absolute-100 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

@mixin btn-variable {
  display: inline-block;
  color: $grey-100;
  padding: 11px 8px;
  border-radius: 3px;
  background: $white-smoke;
}

@mixin see-more {
  @include see-more-font;

  display: inline-block;
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    background-image: url('../../assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 71px 15px;
    width: 71px;
    height: 15px;
    margin-left: 17px;
    transition: $default-transition-time;
    margin-bottom: -2px;

    @include breakpoint(mobile-l) {
      @include absolute-vertical-center;

      right: 0;
      margin-left: 0;
    }
  }

  &:hover, &:focus {
    &::after {
      transform: translateX(10px);

      @include breakpoint(mobile-l) {
        right: -10px;
        transform: translate3d(0, -50%, 0);
      }
    }
  }

  @include breakpoint(mobile-l) {
    padding-right: 88px;
  }
}

@mixin base-btn-style {
  @include inter-16-normal;

  display: block;
  padding: 16px 25px;
  transition: $default-transition;

  &:hover {
    opacity: .5;
  }
}

@mixin btn-style-white {
  @include base-btn-style;

  background: $white;
  color: $red;
}

@mixin btn-style-red {
  @include base-btn-style;

  background: $red;
  color: $white;
}

@mixin paragraph-application-text-img {
  max-width: 50%;
  width: 100%;
  z-index: 5;
  position: relative;

  @include breakpoint(laptop) {
    max-width: 330px;
  }
}

@mixin paragraph-application-container {
  @include container;

  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(mobile) {
    padding: 30px 20px;
  }
}

@mixin btn-style-blue {
  @include base-btn-style;

  background: $blue-300;
  color: $white;
  border: 2px solid $blue-300;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  min-width: 145px;
  padding: 20px 25px;

  @include breakpoint(tablet) {
    width: auto;
    min-width: 100px;
    padding: 14px 40px;
  }
}