@mixin oswald-64 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: $color-text;
}

@mixin oswald-55 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 1;
  color: $color-text;
  letter-spacing: 0.05em;
}

@mixin oswald-40 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.75;
  color: $color-text;
}

@mixin oswald-36 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: $color-text;
}

@mixin oswald-32-bold {
  font-family: $oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.75;
  color: $color-text;

  @include breakpoint(laptop) {
    font-size: 24px;
  }
}

@mixin oswald-24 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $color-text;
}

@mixin oswald-24-lh-31 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: $color-text;
}

@mixin oswald-18 {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-text;
}

@mixin inter-22 {
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: $red;
}

@mixin inter-20 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: $color-text;
}

@mixin inter-20-bold {
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: $color-text;
}

@mixin inter-18 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: $color-text;
}

@mixin inter-18-medium {
  font-family: $inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  color: $color-text;
}

@mixin inter-18-bold {
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-text;
}

@mixin inter-18-lh-31 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  color: $color-text;
}

@mixin inter-18-lh-28 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: $color-text;
}

@mixin see-more-font {
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $red;

  @include breakpoint(tablet) {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin inter-16 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}

@mixin inter-16-normal {
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;
}

@mixin inter-16-to-12-to-16 {
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $color-text;

  @include breakpoint(laptop) {
    font-size: 12px;
  }

  @include breakpoint(tablet) {
    font-size: 16px;
  }
}

@mixin inter-16-lh-24 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
}

@mixin inter-16-bold {
  font-family: $inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $color-text;
}

@mixin inter-14 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: $color-text;
}

@mixin inter-14-lh-17 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: $color-text;
}

@mixin inter-14-normal {
  font-family: $inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

@mixin inter-14-lh-28 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: $color-text;

  @include breakpoint(laptop) {
    font-size: 13px;
    line-height: 1.75;
  }

  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 28px;
  }
}

@mixin inter-14-medium {
  font-family: $inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: $color-text;

  @include breakpoint(laptop) {
    font-size: 13px;
    line-height: 1.75;
  }

  @include breakpoint(tablet) {
    font-size: 14px;
    line-height: 28px;
  }
}

@mixin inter-12 {
  font-family: $inter;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  color: $color-text;
}