/* Colors */
$white: #FFFFFF;
$white-smoke: #F5F5F5;

$color-text: #292929;
$black: #292929;
$black-50: rgba(0, 0, 0, 0.1);
$black-100: rgba(0, 0, 0, 0.15);
$black-150: rgba(0, 0, 0, 0.3);
$black-500: rgba(0, 0, 0, 0.5);

$grey: #F5F5F5;
$grey-50: #C4C4C4;
$grey-100: #767676;
$grey-150: linear-gradient(180deg, rgba(0, 0, 0, 0.53) 75.12%, rgba(72, 72, 72, 0) 100%);
$grey-200: rgba(141,141,141,0.5);
$grey-225: rgba(141,141,141,0.3);
$grey-250: #8d8d8d;

$red: #FF4A3D;
$red-50: linear-gradient(180deg, #F88064 0%, #F96154 100%);
$red-100: rgba(255,74,61,0.5);

$blue: #5686F4;
$blue-50: #E6F1FF;
$blue-100: linear-gradient(180deg, #62A9F0 0%, #4EA8F5 100%);
$blue-150: #3387F8;
$blue-200: #5383f7;
$blue-250: rgba(83,131,247,0.3);
$blue-300: #2e4d8d;
$blue-350: #056cb4;
$blue-hawkes: #D8DADD;

$green: #3AAB53;
$green-50: rgba(85,84,82,0.7);
$green-100: rgba(163,163,163,0.3);

/* Fonts */
$oswald: "Oswald", sans-serif;
$inter: "Inter", sans-serif;

/* Base variables */
$table-col-application-main: 0 1 22.9%;
$table-col-application-secodary: 0 1 27.2%;
$table-col-application-extra: 0 1 23.8%;
$table-col-application-100: 0 1 100%;

/* Transition */
$default-transition-time: .3s;
$default-transition: all $default-transition-time ease;