/* ==========================================================================
  Base styles
========================================================================== */

/* stylelint-disable-next-line */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include inter-18;

  color: $color-text;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  background: $white;

  &.user-logged-in {

    .toolbar-oriented {
      .toolbar-bar {
        position: fixed;
      }
    }

    &.toolbar-vertical {
      header {
        top: 39px;
      }

      .section--anchor-navigation,
      #edit-anchor-navigation {
        top: 119px;

        @include breakpoint(tablet) {
          top: 109px;
        }
      }

      &.toolbar-tray-open {
        header {
          top: 39px;
        }

        .section--anchor-navigation,
        #edit-anchor-navigation {
          top: 119px;

          @include breakpoint(tablet) {
            top: 109px;
          }
        }
      }
    }

    &.toolbar-horizontal {
      header {
        top: 39px;
      }

      .section--anchor-navigation,
      #edit-anchor-navigation {
        top: 119px;
      }

      &.toolbar-tray-open {
        header {
          top: 78px;
        }

        .section--anchor-navigation,
        #edit-anchor-navigation {
          top: 158px;
        }
      }
    }
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  max-width: 100%;
  vertical-align: middle;
}

img {
  height: auto;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $color-text;
}

main {
  padding-top: 80px;

  @include breakpoint(tablet) {
    padding-top: 70px;
  }
}

h1 {
  &.page-title {
    margin: 0;

    .field--label-hidden {
      display: none;
    }
  }
}

.field--name-field-content {
  background-color: $white;
}